<% layout('layouts/boilerplate1') %>
<h1 style="text-align: center; font-weight: bold;" class="display-1">PROFILE</h1>
<main class="container mt-5">
    <section class="row justify-content-center">
      <div class="col-md-4">
        <div class="card" style="background-color: #c4d6da; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
          <div class="card-body">
            <div class="mb-3"><b>Name:</b> <%= driver.name %></div>
            <div class="mb-3"><b>Email:</b> <%= driver.email %></div>
            <div class="mb-3"><b>Phone Number:</b> <%= driver.phoneNumber %></div>
            <div class="mb-3"><b>Vehicle Number: </b> <%= driver.vehicleNumber %></div>
            <div class="mb-3"><b>License Number: </b> <%= driver.licenseNumber %></div>
            <form action="/logout">
                <button class="btn btn-danger" style="display:block; margin-left: auto; margin-right: auto; background-color: black;">Logout</button>
            </form>
<br>
</div>
</div>
</div>
</section>
</main>
<br>